{{- range .Values.databases }}
{{- $db := . }}
{{- $owner := .owner }}

{{- if and $owner $owner.username (not $owner.passwordSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ printf "%s-owner-secret" $db.name }}
  labels:
    {{- include "cnpg-postgresql.labels" $ | nindent 4 }}
type: kubernetes.io/basic-auth
stringData:
  username: {{ $owner.username }}
  password: {{ $owner.password }}
---
{{- end }}
{{- end }}
