{{- $root := . -}}
{{- range .Values.secrets }}
  {{- $autoKeys := list -}}
  {{- range $k, $v := omit . "name" "description" }}
  {{- if eq $v "" }}
  {{- $autoKeys = append $autoKeys $k -}}
  {{- end }}
  {{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  labels:
    {{- include "local-secrets-provider.labels" $root | nindent 4 }}
  annotations:
    replicator.v1.mittwald.de/replicate-to: "*"
    {{- if $autoKeys }}
    secret-generator.v1.mittwald.de/autogenerate: "{{ join "," $autoKeys }}"
    {{- end }}
type: Opaque
stringData:
  {{- range $k, $v := omit . "name" "description" }}
  {{ $k }}: {{ $v | quote }}
  {{- end }}
---
{{- end }}
